.parent {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: .1fr .2fr 1fr;
    grid-template-areas: "navbar navbar navbar navbar navbar" "head head head head head" "photo1 photo2 photo3 photo4 photo5";
}

.navbar {
    background-color: yellow;
    grid-area: navbar;
}

.head {
    background-color: tomato;
    grid-area: head;
}

.photo1 {
    background-color: turquoise;
    grid-area: photo1;
    display: flex;
}

.photo1 img {
    margin: auto;
    height: auto;
    width: 40%;
}

.photo2 {
    background-color: blueviolet;
    grid-area: photo2;
    display: flex;
}

.photo2 img {
    margin: auto;
    height: auto;
    width: 40%;
}

.photo3 {
    background-color: blue;
    grid-area: photo3;
    display: flex;
}

.photo3 img {
    margin: auto;
    height: auto;
    width: 40%;
}

.photo4 {
    background-color: khaki;
    grid-area: photo4;
    display: flex;
}

.photo4 img {
    margin: auto;
    height: auto;
    width: 40%;
}

.photo5 {
    background-color: lavenderblush;
    grid-area: photo5;
    display: flex;
}

.photo5 img {
    margin: auto;
    height: auto;
    width: 40%;
}

@media screen and (max-width: 1200px) {
    .parent {
        grid-template-columns: 1fr;
        grid-template-rows: .2fr .3fr .3fr .3fr .3fr .3fr .3fr;
        grid-template-areas: "navbar" "head" "photo1" "photo2" "photo3" "photo4" "photo5";
    }
}

.navbar {
    overflow: hidden;
    display: block;
}

.navbar a {
    float: left;
    display: inline;
    color: black;
    text-align: center;
    padding: 2%;
    text-decoration: none;
    font-size: 1rem;
}